# ───────────────────────── Editors / OS ────────────────────────────
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# ───────────────────────── Logs ────────────────────────────────────
logs
*.log
npm-debug.log*

# ───────────────────────── Env / secrets ───────────────────────────
.env*
!.env.example
.gitsecret/keys/random_seed
!*.secret
backend/api/banned_words.json
